.drumprnt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
#display {
  margin-top: 33vh;
  display: flex;
  justify-content: center;
}
.drum-pad {
  padding: 20px;
  margin: 5px;
  background: lightgray;
  border-radius: 3px;
  text-align: center;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
